.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

.table td, .table th {
     padding: 0; 
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
td, th {
     padding: 0; 
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

textarea {
    resize: none;
}