#main{
    border: 1px solid grey;
    width: 50%;
    margin: 0 auto;
    box-shadow: 1px 1.5px grey;
    border-radius: 10px;
    padding: 48px 40px 36px;
 
}

body{
    background-color: #d3d3d391
}

input[type=text], #email, #password, #firstName, #lastName, #cwid,#password2, #currentpassword{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9) !important;
}

.btn-secondary{
    background-color: #2979ff;
    padding-top: 15px;
    margin-top: 20px;

}

#button{
    padding: 8px !important;
    color: aliceblue;
    height: 40px;
    margin-left: 3%;
    
}



h2{
    font-weight: 800;
}

select{
    padding: 0 !important;
}
label{
    text-align: center;
}

.input-field.col label {
    left: .75rem;
    margin-left: 10px;
    top: 6px;
}

#selectedDepartment{
    text-align: center;
}

.card{
    background-color: #9e9e9e26;
    border-radius: 10px;
}

.react-sweet-progress{
    width: 90%;
    margin: 0 auto;
}

.card-title{
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {

    #main{
        width: 100%;

    }

}

