#regcontent {
  z-index: 1;
  margin-left: 25%;
  border: 4px solid whitesmoke;
  border-radius: 15px;
  padding: 30px;
  width: 50%;
  background-color: #9e9e9e26;
}
/*
.row .col.offset-s2 {
  margin-left: 6.6666666667% !important;
}
*/
#arrow_button {
    position: relative !important;
  margin-left: 30%;
  color: #007bff;
}

@media only screen and (max-width: 995px) {
  #regcontent {
    width: 100% !important;
    margin: 0px !important;
    
  }
  #arrow_button {
    right: 20% !important;
    position: relative !important;
    margin-left: 25%;
    white-space: nowrap;
    color: #007bff;
  }
  i {
    margin-left: 5%;
  }
}


