.width-200 {
  width: 9rem !important;
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
  background-color: #80888042;
  color: #999;
}

table,
tbody th,
tbody td,
tr {
  text-align: center;
  padding: 40 px;
  margin: 20px;
  box-sizing: border-box;
  font-weight: unset;
  min-width: 50%;
}
tbody tr:nth-child(odd) {
  background: #eee;
}

tbody {
  overflow: auto;
}
tbody td {
  padding: 40px;
  text-align: left;
  letter-spacing: 1px;
}
tbody th {
  text-align: left;
  letter-spacing: 2px;
}
table {
  table-layout: auto;
  width: 100%;
  border-collapse: separate;
  border: 3px solid purple;
  overflow-x: scroll;
  position: relative;
}
#criteria td {
  padding: 40px;
}

.h2,
h2 {
  font-size: 2rem;
  text-align: center;
  color: #886036;
  /* text-decoration: underline; */
}
