#cyclecuriculum, h2{
    margin: 0 auto !important;
    padding: 20px;
}
.testColums{
    width: 20% !important;
    text-align: center;
    color: #a78002;
    letter-spacing: 2px;
}
#button1,#button2,#button4,#button5{
    margin: 10px auto !important;
    text-align: center;
}
.button3{
    margin-left: 8px;
    vertical-align: middle;
    margin-top: 5px;
}
#button2{
    margin-top: 10px ;
}

.curiculumInput{
    border: 1px solid #9e9e9e !important;
    text-align: center;
}

@media only screen and (max-width: 769px) {
    .popup1{
        width:90% !important;
        left: 5% !important;
    }
}
